.main-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr {
        &:hover {
            cursor: pointer;
            background-color: rgba(122, 122, 122, 0.712)
        }
    }
}